<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
	  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114770535-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114770535-4');
</script>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      href="https://fonts.googleapis.com/css?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <!-- <a href="#!" class="brand-logo">Logo</a> -->
        <!-- TODO: Get a logo -->
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Contact us</a></li>
          <li><a href="badges.html">Get a quote</a></li>
          <li><a href="collapsible.html">About us</a></li>
          <li><a href="mobile.html">Location</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="sass.html">Contact us</a></li>
        <li><a href="badges.html">Get a quote</a></li>
        <li><a href="collapsible.html">About us</a></li>
        <li><a href="mobile.html">Location</a></li>
    </ul>
    <div id="loader-wrapper">
      <div id="loader"></div>

      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>

    <!-- Container element -->
    <div class="content">
      <div class="section row">
        <header>
		<h1 class="center-align  red-text text-accent-3" style="color: rgb(34, 34, 34);">
			            <span class="nobreak"><span class="big">X</span>treme</span>

				                <span class="nobreak"><span class="big">K</span>leen</span>
						            <br>
							                <span class="meh">Taking cleaning to the extreme.</span>
									          </h1>
        </header>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h3>Reliable</h3>
        <div class="row">
          <div class="col s12 m9">
            <p class="flow-text">
              Not all of us work part-time, and sometimes cleaning can almost
              feel like a burden, an inconvenience. At Xtreme Kleen, we value
              Quality over speed; we will do our best to ensure that your
              property will sparkle like it's never done before. Whether you
              need a one-off job for a special guest, or your office is home to
              messy employees, we'll be more than happy to make sure that not an
              ounce of dust gets left behind.
            </p>
          </div>

          <div class="col s12 m3">
            <div class="card">
              <div class="card-content">
                <img
                  class="testimonial"
                  src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/FyKJcnp/happy-black-woman-smiling-in-a-park_n1vjr4rzx__F0000.png"
                  alt="Picture"
                  srcset=""
                />
                <blockquote class="flow-text">
                  "I always choose Xtreme Kleen, my house has never looked
                  better!"
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="idk"></div> -->
      <p class="flow-text">Some stuffs</p>
    </div>
  </body>
</html>
