<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
	  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114770535-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114770535-4');
</script>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      href="https://fonts.googleapis.com/css?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <!-- <a href="#!" class="brand-logo">Logo</a> -->
        <!-- TODO: Get a logo -->
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down">
		<div class="nav"></div>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
		<div class="nav"></div>
    </ul>
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>

    <!-- Container element -->
    <div class="content">
      <div class="divider"></div>
      <div class="section">
        <div class="row">
          <div class="col s10 offset-s1 m9">
      <p class="flow-text">If you would like us to do some cleaning, don't hesitate to get in touch below!</p>
          </div>
          <div class="col s12 m12">
            <div class="card">
              <div class="card-content">
                <ul>
                  <li>
                    Email: <a href="mailto:myxkleen@gmail.com">myxkleen@gmail.com</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col s12 m12">
            <div class="card">

                        <div class="card-content">
                          <ul>
                            <li>
                              Phone: <a href="tel:07572 869298">07572 869298</a>
                            </li>
                          </ul>
                        </div>
                        </div>
          </div>
        </div>
        </div>
      </div>
      <!-- <div class="idk"></div> -->
    </div>
  </body>
</html>
